.blue{
    background-color: blue;

}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}

.border{
    border: 2px solid rgb(226, 226, 226);
}

.border-green{
    border: 2px solid rgb(6, 133, 42);
}
.color{
    color: aquamarine;
}